@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


label {
    display: inline-block;
    width: 160px;
    height: 40px;
}

body{
    font-family: 'Anton', sans-serif;
}

h1 {
    font-weight: bold;
    grid-area: h1;
    text-align: center;
    color: whitesmoke;
    margin-top: 5vh;
}

h2 {
    margin: 0%;
    font-size: xx-large;
    font-weight: bold;
    color: orange;
    text-align: center;
}


header {
    display: flex;
    font-weight: bolder;
    flex-direction: row;
    min-height: 8vh;
}