@import url(//db.onlinewebfonts.com/c/7e389c5e310dc537b083e0e25ea6eab5?family=Druk+Wide+Medium);

label {
    display: inline-block;
    width: 160px;
    height: 40px;
}


h1 {
    font-weight: bolder;
    grid-area: h1;
    text-align: center;
    color: whitesmoke;
    margin-top: 5vh;
}

h2 {
    margin: 0%;
    font-size: xx-large;
    font-weight: bold;
    color: orange;
    text-align: center;
}


header {
    display: flex;
    font-weight: bolder;
    flex-direction: row;
    min-height: 8vh;
}