/* Map - Get */

$estilo:(font-family:DRUK,color:rgb(230, 224, 218), tamFuente:4vh, margin:4vh, justify-content:space-between,align-items:center);

.titulos {
    color: map-get($map: $estilo, $key:color);
    font-size: map-get($map: $estilo, $key: tamFuente);
    font-family: map-get($map: $estilo, $key: font-family);
    margin: map-get($map:$estilo , $key:margin);
    justify-content: map-get($map: $estilo, $key:justify-content);
    align-items: map-get($map: $estilo, $key: align-items);
}

