/* Mixin */

@mixin parrafos {
    margin: 2%;
    font-family: DRUK;
    font-size: x-large;
    align-items: center;
    color: whitesmoke;
    text-align: justify;
}

.textito {
    @include parrafos;
    background-color: rgba(243, 236, 222, 0.041);
    border-radius: 2vh;
    padding: 2vh;
}

.textoMixin {
    @include parrafos;
    background-color: rgba(243, 236, 222, 0.041);
    border-radius: 2vh;
    padding: 2vh;
}