@import "fuentes", "generales", "nav", "variableGlobal", "grids", "mixin", "maps", "extend";

.form {
    margin: 5%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 9.5vh;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    font-size: xx-large;
    font-style: bolder;
    color: white;
}

a {
    text-decoration: none;
    text-align: justify;
    color: antiquewhite;
}

.tienda {
    grid-area: tienda;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    padding: 2%;
    margin: 5%;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    justify-content: space-around;
}

.players {
    grid-area: players;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 60% 60%;
    margin-top: 5%;
    padding-bottom: 10%;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    justify-content: space-around;
}

.item {
    display: grid;
    background-color: rgba(245, 245, 245, 0.1);
    border: solid white;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 10%;


    a:hover {
        transition: all 300ms;
        filter: blur(20%);
        display: flex;
    }
}

.itemsFooter {
    width: 3vh;
    height: auto;
}

.ajusteImg {
    width: 100%;
    height: 100%;
}

.ajusteLogoGrande {
    width: 15vh;
    height: 15vh;
}

.logo-sinletras {
    width: 10vh;
    height: 10vh;
}

.animate__animated {
    width: 100%;
    height: 100%;
}

.animate__backInLeft {
    width: 100%;
    height: 100%;
}

.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}


.twitch {
    grid-area: twitch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.carrousel-indicators {
    z-index: +1;
}

.redes {
    display: flex;
    height: min-content;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(254, 182, 20);
}

.coach {
    background-color: rgba(245, 245, 245, 0.1);
    border: solid white;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    grid-area: coach;
    margin-top: 5%;
    padding-bottom: 3%;
    margin-left: 30%;
    margin-right: 30%;
}

.noticias {
    grid-area: noticias;
    margin: 5%;
}

.twitter {
    grid-area: twitter;
    margin: 5%;

}

.instagram {
    grid-area: instagram;
    margin: 5%;
}

.redesHijos {
    border-radius: 10px;
    border: solid orange;
}

.carrousel {
    margin: 0%;
    margin-top: 160px;
    grid-area: carrousel;
}

.headerteams {
    margin: 0%;
    grid-area: headerteams;
}

.noticiero {
    grid-area: noticiero;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nuestrasRedes {
    grid-area: nuestrasRedes;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.logoBlanco {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}








@media (max-width:1024px) {
    .titulos {
        font-size: 3vh;
    }

    .headerEquipos {
        display: none;
    }

    .textito {
        font-size: large;
    }

    .textoMixin {
        font-size: large;
    }

    .navIndex {
        display: none;
    }

    .navIndexchico {
        display: none;
    }

    .carrousel {
        margin-top: 10vh;
    }

}

@media (min-width:1024px) {
    .hamburguesa {
        display: none;
    }
}

@media (max-width:800px) {
    .headerEquipos {
        display: none;
    }
}


@media (max-width:768px) {

    .logoBlanco {
        display: none;
    }

    .equipos {
        padding: 2%;
        margin: 2%;
        margin-top: 5%;
        padding-bottom: 0%;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        justify-content: space-around;
    }

    .espaciador {
        margin: 5%;
    }

    .textito {
        font-size: small;
    }

    .textoMixin {
        font-size: small;
    }

    .headerEquipos {
        display: none;
    }

    .texto {
        font-size: small;
    }

    .caracteristicas {
        font-size: medium;
    }

    .carrousel {
        margin-top: 0%;
    }

    .twitch {
        display: none;
    }

    .navIndexchico {
        display: none;
    }

    .logo-sinletras {
        display: none;
    }

    .tienda {
        grid-template-columns: 100%;
        grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
        padding: 10%;
        margin: 8%;
        margin-top: 5%;
    }

    .item {
        margin-bottom: 10%;
    }

}

@media (max-width:500px) {

    .titulos {
        font-size: 1vh;
    }

    .textito {
        font-size: 1px;
    }

    .textoMixin {
        font-size: 1px;
    }

    .equipos {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        padding: 2%;
        margin: 5%;
        margin-bottom: 0%;
        align-items: center;
        justify-content: space-around;
    }

    .espaciador {
        margin: 5%;
    }

    .caracteristicas {
        font-size: x-small;
    }

    .headerEquipos {
        display: none;
    }
}