@import url(//db.onlinewebfonts.com/c/7e389c5e310dc537b083e0e25ea6eab5?family=Druk+Wide+Medium);
label {
  display: inline-block;
  width: 160px;
  height: 40px;
}

h1 {
  font-weight: bolder;
  grid-area: h1;
  text-align: center;
  color: whitesmoke;
  margin-top: 5vh;
}

h2 {
  margin: 0%;
  font-size: xx-large;
  font-weight: bold;
  color: orange;
  text-align: center;
}

header {
  display: flex;
  font-weight: bolder;
  flex-direction: row;
  min-height: 8vh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/fondoweb.png);
  background-repeat: repeat-y;
  background-size: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  grid-area: footer;
  -o-object-position: bottom;
     object-position: bottom;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}

.navIndex {
  grid-area: navIndex;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  padding: 1vh;
  background-color: black;
  font-family: DRUK;
  font-size: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 4vh;
}
.navIndex a:hover {
  transition: all 200ms;
  color: orange;
  z-index: 2;
}

.navIndexchico {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 4vh;
  z-index: 1;
  font-family: DRUK;
  grid-area: navIndexChico;
  position: fixed;
  top: 0;
  left: 0%;
  right: 0%;
  background-color: rgba(0, 0, 0, 0.8);
}
.navIndexchico a:hover {
  transition: all 200ms;
  color: orange;
}

.navbar-expand-lg {
  color: black;
}

.navbar {
  border-radius: 10px;
}

.hamburguesa {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 1vh;
  font-family: DRUK;
  font-size: 2vh;
  min-height: 4vh;
}

.headerEquipos {
  grid-area: headerEquipos;
  padding: 0.5vh;
  border: 3px orange groove;
  background-color: black;
  font-size: 2.5vh;
  align-items: center;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.headerEquipos a:hover {
  color: orange;
  display: flex;
  transition: all 200ms;
}

.equipos {
  grid-area: equipos;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  padding: 2%;
  justify-content: space-around;
}
.equipos a:hover {
  z-index: 0;
  transition: all 500ms;
  filter: grayscale(80%);
}

.footer {
  grid-area: footer;
  -o-object-position: bottom;
     object-position: bottom;
  background-color: black;
  font-size: x-large;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}
.footer a:hover {
  transition: all 300ms;
  filter: grayscale(1000%);
}

.bodyGridIndex {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "navIndex navIndex" "navIndexChico navIndexChico" "carrousel carrousel" "equipos equipos" "noticiero noticiero" "noticias noticias" "nuestrasRedes nuestrasRedes" "instagram twitter" "twitch twitch" "footer footer";
}

.bodyPadreGridTienda {
  display: grid;
  grid-template-areas: "navIndexChico" "tienda" "footer";
}

.bodyGridNosotros {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "navIndexChico navIndexChico" "carrousel carrousel" "h1 h1" "twitter instagram" "twitch twitch" "footer footer";
}

.bodyGridEquipos {
  display: grid;
  grid-template-areas: "rosters" "navIndexChico" "h1" "equipos" "footer";
}

.bodyPadreGridEquipos {
  display: grid;
  grid-template-areas: "navIndexChico" "headerEquipos" "headerteams" "coach" "players" "footer";
}

/* Mixin */
.textito {
  margin: 2%;
  font-family: DRUK;
  font-size: x-large;
  align-items: center;
  color: whitesmoke;
  text-align: justify;
  background-color: rgba(243, 236, 222, 0.041);
  border-radius: 2vh;
  padding: 2vh;
}

.textoMixin {
  margin: 2%;
  font-family: DRUK;
  font-size: x-large;
  align-items: center;
  color: whitesmoke;
  text-align: justify;
  background-color: rgba(243, 236, 222, 0.041);
  border-radius: 2vh;
  padding: 2vh;
}

/* Map - Get */
.titulos {
  color: rgb(230, 224, 218);
  font-size: 4vh;
  margin: 4vh;
  justify-content: space-between;
  align-items: center;
}

/* Extend */
.cubito1, .cubito2 {
  font-size: 30px;
  text-decoration: none;
  background-color: rgba(0, 128, 0, 0.425);
  color: whitesmoke;
  margin: 1vh;
}

.cubito2 {
  -webkit-text-decoration: bold;
          text-decoration: bold;
  color: whitesmoke;
  background-color: rgba(255, 0, 0, 0.479);
}

.form {
  margin: 5%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 9.5vh;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  font-size: xx-large;
  font-style: bolder;
  color: white;
}

a {
  text-decoration: none;
  text-align: justify;
  color: antiquewhite;
}

.tienda {
  grid-area: tienda;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
  padding: 2%;
  margin: 5%;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  justify-content: space-around;
}

.players {
  grid-area: players;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 60% 60%;
  margin-top: 5%;
  padding-bottom: 10%;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 20px;
  justify-content: space-around;
}

.item {
  display: grid;
  background-color: rgba(245, 245, 245, 0.1);
  border: solid white;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
}
.item a:hover {
  transition: all 300ms;
  filter: blur(20%);
  display: flex;
}

.itemsFooter {
  width: 3vh;
  height: auto;
}

.ajusteImg {
  width: 100%;
  height: 100%;
}

.ajusteLogoGrande {
  width: 15vh;
  height: 15vh;
}

.logo-sinletras {
  width: 10vh;
  height: 10vh;
}

.animate__animated {
  width: 100%;
  height: 100%;
}

.animate__backInLeft {
  width: 100%;
  height: 100%;
}

.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitch {
  grid-area: twitch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.carrousel-indicators {
  z-index: 1;
}

.redes {
  display: flex;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(254, 182, 20);
}

.coach {
  background-color: rgba(245, 245, 245, 0.1);
  border: solid white;
  justify-items: center;
  align-items: center;
  border-radius: 10px;
  grid-area: coach;
  margin-top: 5%;
  padding-bottom: 3%;
  margin-left: 30%;
  margin-right: 30%;
}

.noticias {
  grid-area: noticias;
  margin: 5%;
}

.twitter {
  grid-area: twitter;
  margin: 5%;
}

.instagram {
  grid-area: instagram;
  margin: 5%;
}

.redesHijos {
  border-radius: 10px;
  border: solid orange;
}

.carrousel {
  margin: 0%;
  margin-top: 160px;
  grid-area: carrousel;
}

.headerteams {
  margin: 0%;
  grid-area: headerteams;
}

.noticiero {
  grid-area: noticiero;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nuestrasRedes {
  grid-area: nuestrasRedes;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.logoBlanco {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

@media (max-width: 1024px) {
  .titulos {
    font-size: 3vh;
  }
  .headerEquipos {
    display: none;
  }
  .textito {
    font-size: large;
  }
  .textoMixin {
    font-size: large;
  }
  .navIndex {
    display: none;
  }
  .navIndexchico {
    display: none;
  }
  .carrousel {
    margin-top: 10vh;
  }
}
@media (min-width: 1024px) {
  .hamburguesa {
    display: none;
  }
}
@media (max-width: 800px) {
  .headerEquipos {
    display: none;
  }
}
@media (max-width: 768px) {
  .logoBlanco {
    display: none;
  }
  .equipos {
    padding: 2%;
    margin: 2%;
    margin-top: 5%;
    padding-bottom: 0%;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 20px;
    justify-content: space-around;
  }
  .espaciador {
    margin: 5%;
  }
  .textito {
    font-size: small;
  }
  .textoMixin {
    font-size: small;
  }
  .headerEquipos {
    display: none;
  }
  .texto {
    font-size: small;
  }
  .caracteristicas {
    font-size: medium;
  }
  .carrousel {
    margin-top: 0%;
  }
  .twitch {
    display: none;
  }
  .navIndexchico {
    display: none;
  }
  .logo-sinletras {
    display: none;
  }
  .tienda {
    grid-template-columns: 100%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    padding: 10%;
    margin: 8%;
    margin-top: 5%;
  }
  .item {
    margin-bottom: 10%;
  }
}
@media (max-width: 500px) {
  .titulos {
    font-size: 1vh;
  }
  .textito {
    font-size: 1px;
  }
  .textoMixin {
    font-size: 1px;
  }
  .equipos {
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 2%;
    margin: 5%;
    margin-bottom: 0%;
    align-items: center;
    justify-content: space-around;
  }
  .espaciador {
    margin: 5%;
  }
  .caracteristicas {
    font-size: x-small;
  }
  .headerEquipos {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */